footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

main img{
    margin: 5%;
    border: 10px solid teal;
    height: auto;
}

main h3{
    margin-top: 50px;
    margin-bottom: 0px;
}

main h3{
    color: brown;
}

